body {
  text-align: center;
}
.playControl-item{
  width: 100px;
  height: 100px;
  padding: 20px 30px 20px 30px;
}
.displayStat{
  display: inline-block;
  margin: 30px;
  border: 2px solid rgb(33, 194, 243);
  border-radius: 10%;
  padding: 20px;
  
}
.heroStat{
  color: rgb(48, 91, 207);
}
.enemyStat{
  color: rgb(134, 31, 31);
}
.getName{
  margin: 30px;
  padding: 0 20px 0 20px;
}

.nameItem{
  padding: 5px 10px 5px 20px;
}